body {
    text-align: center;
    background-color: #a8caff;
}

h1, p, form {
    font-family: 'Arial';
}
form {
    line-height: 50px;
}

a {
    color: #3b66ab;
    text-decoration: none;
    font-style: italic;
}

#tiltleft {
    transform: rotate(-3deg);
    margin-top: 50px;
    margin-bottom: 20px;
}

#tiltright {
    transform: rotate(3deg);
    margin-top: 50px;
    margin-bottom: 20px;
}
.title {
    background-color: white;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin: auto;
    width: 300px;
    border-radius: 20px;

    color: rgb(43, 43, 112);
}

p {
    font-family: 'Arial';
}

.flexbox-item {
    width: 200px;
    margin: 20px;
    border-radius: 10px;
}

#footer {
    height: 40px;
    background-color: white;
    position: sticky;
    margin: auto;
    width: 300px;
    border-radius: 10px;
    bottom: 0;
    line-height: 40px;

    box-shadow: 0px 0px 10px 0px rgba(121, 121, 121, 0.5);
}

.flexbox-item:hover {
    border: 5px solid white;
}

.wishlist {
    background-color: #cadeff;
    padding-top: 5px;
    padding-bottom: 40px;
    width: 40%;
    margin: auto;
    min-width: 400px;

    border-radius: 10px;
}

input[type="checkbox"] {
    width: 3em;
    height: 1.25rem;
    accent-color: rgb(43, 43, 112);

    vertical-align: middle;
}